* {
	box-sizing: border-box;
}

body {
	margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(213, 211, 211);
  overflow-y: scroll
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor-wrap {
  margin: 50px 0;
	width: 60vw;
	min-width: 400px;
  max-width: 600px;
	height: 400px;
  /* transition: all 0.5s ease-in; */
  /* visibility: visible;
  opacity: 1;
  transition: opacity 2s linear; */
}

.expanded {
  height: calc(100vh - 100px) !important;
  margin: 50px 0 200px 0;
  /* transition: all 0.5s ease-in; */
}

.hidden {
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear; */
  display: none;
}

#editor-header {
	height: 60px;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	
}

#editor-header div, #preview-header div {
	display: flex;
	flex-direction: row;
  align-items: center;
}

#editor-header div svg, #preview-header div svg {
  margin-right: 5px;
  font-size: 40px;
}

#editor {
  width: 100%;
  height: calc(100% - 60px);
  border: none;
  padding: 3px 5px;
}

#editor:focus {
  outline: 0;
}


#preview-wrap {
	width: 80vw;
	min-width: 400px;
  max-width: 800px;
  /* margin: 50px 0 300px 0; */
}

#preview-header {
	height: 60px;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;	
}

#preview {
  padding: 15px;
  width: 100%;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-bottom: 100px;
}

#preview pre {
  background-color: #fff;
  padding: 3px;
}

#preview code {
  background-color: #fff;
  padding: 2px;
}

del {
  text-decoration: line-through;
}

#preview blockquote {
  border-left: 3px solid #000;
  color: #000;
  padding-left: 5px;
  margin-left: 25px;
}

table, th, td {
  border-spacing: 2px;
  border-collapse: collapse;
  border: 2px solid #000;
}
/* thead {
  border-color: inherit;
} */

#preview img {
  max-width: 90%;
}

#credentials-box {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  /* transition: all 0.5s ease-in; */
  position: fixed;
  bottom: 0;
  right: 0;
}

#credentials-box p, #credentials-box a {
  color: darkgray;
  font-size: 12px;
}